/* hiding the result and loader DIV here */
#loading , #results {
    display:none;
}

/* bg img */
body{
    background: url('/img/bgimg.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}